<!DOCTYPE html>
<html lang="ru">

<%- include('../util-parts/head', {}) %> 
<body>
    <div class="page">
        <header>
            
            <%- include('../util-parts/menu', {
                user: user,
                activeElement: 5,
                isUserPage: true
            }) %>

            <%- include('../util-parts/hamburgerMenu', {
                user: user
            }) %>
            
        </header>
        <div class="lichka_con">
            <div class="lichka_con_fon">
                <div class="profil_con">
                    <div class="profil">
                        <div class="profil_first_col">
                            <div class="profil_img">
                                <img style="width: 50%;" src="/default_user.jpg" alt="">
                            </div>
                            <div class="profli_person">
                                <h3><%= user.name %></h3>
                                <p><%= userInfo.levelLearn %>, Направление: <%= userInfo.speciality %>, <%= userInfo.grade %>  Курс</p>
                                <p style="padding-bottom: 20px;">Почта: <%= userInfo.email %> </p>
                            </div>
                        </div>
                        <div class="profil_second_col">
                            <div class="profil_my_projects">
                                <h1>Мои Проекты:</h1>
                            </div>
                            <div class="profil_my_projects-list" style="overflow: scroll; overflow-x: hidden;">
                                <% for( let i = 0; i < teams.length; i++ ) { %>
                                
                                    <%- include('./userProject', {
                                        team: teams[i]
                                    }) %> 

                                <% } %> 
                            </div>
                        </div>
                    </div>
                    <div class="Mob_TAb">
                        <div class="First_row">
                            <img src="default_user.jpg" alt="">
                            <p class="Fule_name"><%= user.name %></p>
                            <p class="Em_cl_proj"><%= user.email %></p>
                            <p class="Em_cl_proj"><%= userInfo.levelLearn %>, Направление: <%= userInfo.speciality %>, <%= userInfo.grade %>  Курс</p>
                            <p class="Em_cl_proj">Мои проекты:</p>
                        </div>
                        
                        <% for( let i = 0; i < teams.length; i++ ) { %>
                            <% 
                                let isLast = false;
                                if (i == teams.length - 1) {
                                    isLast = true
                                }    
                            %> 
                            <%- include('./userProjectMobile', {
                                team: teams[i],
                                last: isLast
                            }) %> 

                        <% } %> 
                        
                        

                    </div>
                </div>
            </div>
        </div>
        <%- include('../util-parts/footer', {}) %>
    </div>
</body></html>
