<!DOCTYPE html>
<html lang="ru">

<%- include('../util-parts/head', {

}) %>

<body>
    <header>
       
        <%- include('../util-parts/menu', {
            user: user,
            activeElement: 3
        }) %>
        
        <%- include('../util-parts/hamburgerMenu', {
            user: user
        }) %>

    </header>
    <div class="team_div">
        <div class="team_div_back">

            <div class="team_container">
                <div class="team_con">
                    <div class="img_team_div">
                        <% 
                            let picture = "default_team.jpg"
                            if (project.Team.team_picture) {
                                picture = project.Team.team_picture
                            }    
                        %> 
                        <img src="/<%= picture %> "  class="img_team" style="width: 70%;">
                    </div>
                    <p style="text-align: center;"> Команда:
                        <%= project.Team.team_name %> 
                    </p><br />
                    <div class="Opis_komand">
                        <p>Название проекта:
                            <%= project.project_name %> 
                        </p><br />
                        <p>Наставник:
                            <%= project.Team.Mentor.mentor_fullName %> 
                        </p><br />
                        <p>Состав:
                        <div style="margin-left: 5%;">
                            <% 
                                let studs = project.Team.Students.map(i => {
                                    return {
                                        id: i.id_student,
                                        name: i.student_fullName,
                                        email: i.student_email,
                                        role: i.StudentsTeams.student_role
                                    }
                                })
                                
                            %> 

                            <% for( let i = 0; i < studs.length; i++ ) { %>
                                
                                <span>
                                    <%= studs[i].name %>  
                                </span>
                                <span> - </span>
                                <span>
                                    <%= studs[i].role %> 
                                </span>

                                <br>
                            <% } %>


                        </div>
                        
                        </p><br />

                        <p>
                            Описание:
                            <script>
                                var name = "Описание проекта: За несколько лет в проектном офисе были успешно реализованы работы студентов. Они продемонстрированы небольшой аудитории, заслужили высокие оценки, но не получили широкой известности. Наша задача показать образцовые работы студентов,  чтобы абитуриенты вуза, студенты и коллеги могли оценить высокий уровень навыков наших студентов.";
                                document.write(name);
                            </script>
                        </p><br />
                        <div class="team_opis_tex">
                            <p>Техническое задание: 
                            <a href="http://ictis.sfedu.ru/rasp/HTML/45.htm">http://ictis.sfedu.ru/rasp/HTML/45.htm</a></p>
                            <p>Результаты: <a href="http://ictis.sfedu.ru/rasp/HTML/45.htm">http://ictis.sfedu.ru/rasp/HTML/45.htm</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <%- include('../util-parts/footer', {

    }) %> 


</body></html>