<!DOCTYPE html>
<html lang="ru">
<!--Поправить поле ввода, градиент...-->
<!--

    Отличие от изначальной страницы: 
        список наставников сделан с помощью display: inline-block без флексов
        Добавлен элемент nas_li__element, у которого ширина = 33% от родительского блока,
        а внутренний элемент имеет ширину = 100% от nas_li__element и макс. ширину = 300px
        Градиент поправлен следующим образом: у nas_back = белый цвет фона, у nas_back::before фон - полупрозрачная картинка
        а у blabla фон = градиент

-->
<%- include('../util-parts/head', {}) %> 

<body>
    <div class="page">
        
        <header>

            <%- include('../util-parts/menu', {
                activeElement: 1
            }) %> 

            <%- include('../util-parts/hamburgerMenu', {}) %> 
            
            <link rel="stylesheet" href="/mentors.css">

        </header>

        <div class="nas">
            <div class="nas_back">
                <div class="blabla">
                    <div class="NAS_P">
                        <form>
                            <input type="search" name="query" placeholder="Введите имя или фамилию Наставника" class="NAS_P_in">
                            <img src="/search-solid.svg" />
                        </form>
                    </div>

                    <%- include('mentorsGroup', {
                        mentors: mentors
                    }) %> 
                    
                </div>
            </div>
        </div>

        <%- include('../util-parts/footer', {}) %> 
    </div>
</body>

<script>
    setActiveMenuElement(1)
</script>

</html>
