
<li class="nas_li">
    <ul class="nas_li_ul">
        <li>
            <img class="nas_F" src="<%= `${publicDir}/${mentor.mentor_picture}` %> ">
        </li>
        <li>
            <a href="<%= `mentors/${mentor.id_mentor}` %> " style="text-decoration: none;">
                <p class="nas_name"> <%= mentor.mentor_fullName %> </p>
            </a>
            <p class="nas_opisanie"> <%= mentor.mentor_info %> </p>
            <p class="nas_kontact">тел.: <%= mentor.mentor_phone %><br /><br /><%= mentor.mentor_email %> <br /><br />соц. сеть ВК: <%= mentor.mentor_link %><br /><br /></p>
        </li>
    </ul>
</li>